	body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background: url(../gcw_images/fondo_principal.jpg);*/
  background-position: top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Open Sans", sans-serif, inherit;
  font-weight: 300;

}
/**************************  AGREGAR UN ESPACIO ENTRE COLUMNAS  ******************************/
.box {
	  padding: 0 10px 10px 10px;
}
.box .inner {
  background-color: #E9E9E9;
}
/***********************************  MARGENES INTERNOS  *************************************/
.eliminar-espacio-interno{
  padding-right: 0px;
  padding-left: 0px;
}
.eliminar-margenes {
  margin-right: 0px;
  margin-left: 0px;
}
.margen-interno {
    padding: 10px;
}
.contenido-margen-interno {
    padding: 20px;
}
.contenido-margen-interno-2 {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.margen-arriba-y-abajo {
	  padding-top: 10px;
	  padding-bottom: 10px;
}
.margen-arriba {
    padding-top: 10px;
}
.margen-abajo {
	  padding-bottom: 10px;
}
.margen-derecho {
	  margin-right: 20px;
}
.margen-izquierdo {
	  padding-left: 10px;
}
.margen-izquierdo-2 {
    margin-left: 20px;
}
.margen-error {
  margin-top: 120px;
  margin-bottom: 150px;
}
.alinear-arriba {
  vertical-align: top;
}
.alinear-abajo {
  line-height: 150px
}
.alinear-abajo_2 {
  vertical-align: bottom;
}
.alinear-imagen-derecha {
  float:right;
  clear:right;
}
.alinear-imagen-izquierda {
  float:left;
  clear:left;
}
.interlineado-normal {
	line-height: 2.42857143;
}
.full-ancho {
	width: 100%;
}
.medio-full {
	width: 50%;
}
.centrar-imagen {
  margin: 0 20%;
}
.borde-derecho   { border-right: 1px rgba(217,217,217,1) solid }
.borde-izquierdo { border-left: 1px rgba(217,217,217,1) solid }
.borde-arriba    { border-top: 1px rgba(217,217,217,1) solid }
.borde-abajo     { border-bottom: 1px rgba(217,217,217,1) solid }
.borde-general   { border: 1px rgba(217,217,217,1) solid }

.img-rounded-abajo {
  -moz-border-radius: 0px 0px 6px 6px; /* Firefox */
  -webkit-border-radius: 0px 0px 6px 6px; /* Google Chrome y Safari */
  border-radius: 0px 0px 6px 6px; /* CSS3 (Opera 10.5, IE 9 y estándar a ser soportado por todos los futuros navegadores) */
}
.img-rounded-arriba {
  -moz-border-radius: 6px 6px 0px 0px; /* Firefox */
  -webkit-border-radius: 6px 6px 0px 0px; /* Google Chrome y Safari */
  border-radius: 6px 6px 0px 0px; /* CSS3 (Opera 10.5, IE 9 y estándar a ser soportado por todos los futuros navegadores) */
}
/**************************  EFECTO DE ATENUACION  ******************************/
.suavecito {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.suavecito:hover {
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

/**************************  EFECTO DE BACKGROUND DE UN DIV CON TAMAÑO FIJO Y SIN CONTENIDO  ******************************/
/*******************  http://ran.ge/2009/11/11/css-trick-turning-a-background-image-into-a-clickable-link/  ***************/
#galeria-web {
	background-size:cover;
    display:block;
    height:170px;
    text-indent:-9999px;
    width:100%;
}
@media (max-width: 767px) {
	#galeria-web {
		background-size:cover;
	    display:block;
	    height:200px;
	    text-indent:-9999px;
	    width:100%;
	}
}
#galeria-web-con-leyenda {
	background-size:cover;
    display:block;
    height:275px;
    width:100%;
    padding-top: 160px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}
/************************************  COLORES DE LETRA  ***************************************/
.naranja      { color: #f9643a; }
.normal       { color: #333333; }
.amarillo     { color: #e2b413; }
.azulclaro    { color: #16b2c9; }
.solo-blanco  { color: #FFFFFF; }
.blanco       { color: #FFFFFF; }
.blanco:hover { color: #3f3f3f; text-decoration: none;}
.blanco-blanco       { color: #FFFFFF; }
.blanco-blanco:hover { color: #FFFFFF; text-decoration: underline;}
.gris         { color: #333333; }
.gris:hover   { color: #ed7423; text-decoration: none;}
.gris-light   { color: #dcd8d9; }
.naranja      { color: #eb840b; }
.naranjaclaro { color: #eb840b; }
.turquesa     { color: #16c98d; }
.rojo         { color: #f11a1f; }
.verde        { color: #97cb2e; }
.vinotinto    { color: #be0d09; }
.azul-blanco        { color: #16b2c9; }
.azul-blanco:hover  { color: #fff; }
/*************************************************************************************************************/
/*************************************************************************************************************/

/**********************************************   EFECTOS VARIOS  ********************************************/
.sombra {
box-shadow: -1px 9px 5px -5px rgba(0,0,0,0.5);
}
.sombra-arriba {
box-shadow: -1px -9px 5px -5px rgba(0,0,0,0.5);
}
.sombra-letras {
  text-shadow: 2px 2px 2px #333;
}

.resplandornegro{
-moz-box-shadow: 0px 0px 25px #fff;
-webkit-box-shadow: 0px 0px 25px #fff;
box-shadow: 0px 0px 25px #fff;
}
.resplandornegro:hover{
-moz-box-shadow: 0px 0px 25px #cfcdcd;
-webkit-box-shadow: 0px 0px 25px #cfcdcd;
box-shadow: 0px 0px 25px #cfcdcd;
}
.resplandorblanco{
-moz-box-shadow: 0px 0px 25px #fff;
-webkit-box-shadow: 0px 0px 25px #fff;
box-shadow: 0px 0px 25px #fff;
}
.hr-roja { border-color: rgba(204, 37, 26, 0.2);}
.hr-corta { width: 45%; border-color: #666}
.hr-corta-blanca { width: 65%; border-color: white}
.hr-transparente { border: 1px; height: 1px; color: transparent; }
.transparencia {
  background: rgba(255, 255, 255, 0.8);
}
.transparencia-negra {
  background: rgba(0, 0, 0, 0.7);
}
.borde-gris {
  background-image:url(../gcw_images/borde_gris.png);
  background-position:top center;
  background-repeat:repeat-x;
  display:block;
}
socialmedia ul{
  font-size:0;
  padding:5px;
  text-align:right;
}
socialmedia ul li{
  display: inline-block;
  vertical-align: middle;
  text-align:center;
}
socialmedia ul li:hover{
}
socialmedia ul li img {
  border:0;
  padding-right:10px;
}
socialmedia ul li a{
  display: block;
  text-align:center;
}
socialmedia_footer ul{
  font-size:0;
  padding:0px;
  text-align:right;
}
socialmedia_footer ul li{
  display: inline-block;
  vertical-align: middle;
  text-align:center;
}
socialmedia_footer ul li:hover{
}
socialmedia_footer ul li img {
  border:0;
  padding-left:10px;
}
socialmedia_footer ul li a{
  display: block;
  text-align:center;
}
.lupa {
  -o-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: all 0.4s ease;
  background:url(../gcw_images/lupa2.png) center center no-repeat #000;
  cursor: pointer;
  height: 99%;
  width: 99%;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
.lupa:hover {
  opacity: .6;
  -o-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -webkit-transition: -webkit-transform 0.8s;
  -webkit-box-shadow: 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px #000;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 0px #000;
}

/**********************************************  FONDOS  *****************************************************/
.bg-body {
  background-image: url(../gcw_images/bg_body.png);
  background-position: top;
  background-repeat: repeat-x;
  background-color: rgba(255, 255, 255, 1);
}
.bg-amarillo {
  color: #000;
  background-color: #ffff01;
  border-color: #2e6da4;
}
.bg-blanco {
  color: #000;
  background-color: #FFF;
  border-color: #333;
}
.bg-negro {
  background-color: rgba(64, 69, 75, 1);
  color: white;
}
.bg-azul { background-color: #0b3583;
  padding: 5px;
   }
.bg-azul:hover {
  background-color: #f60;
}
.bg-azulito {
  background-color: #e1e4e5;
  border: 1px #f60 solid;
}
.bg-titulo-modal {
  background-color: rgba(174, 26, 29, 1);
}
.bg-rojo {
  background-color: rgba(181, 29, 30, 1);
  padding: 5px;
}
.bg-gris {
  background-color: rgba(239, 239, 239, 1);
  color: black;
}
.bg-gris-claro {
  background-color: rgba(245, 245, 245, 1);
  color: black;
}
.bg-gris-transparente{
  background-color: rgba(239, 239, 239, 0.7);
  color: black;
}
/************************************************  COLUMNAS  ***********************************************/
.two-columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
}
.three-columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
}
/* PARA CREAR 5 COLUMNAS CON BOOTSTRAP /////////////// */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15
{
    width: 20%;
    float: left;
}
@media (min-width: 768px)
{
    .col-sm-15
    {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px)
{
     .col-md-15
     {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px)
{
    .col-lg-15
    {
        width: 20%;
        float: left;
    }
}
/**********************************************   CABECERA SLIDER  ********************************************/
.linea-gris {
 height: 250px;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px; height: 200px;
 }
@media (max-width: 767px) {
  .linea-gris {
  height: 20px;
  background-color: #f5f5f5;
  }
}
.linea-gris-2 {
  height: 40px;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  .linea-gris-2 {
  height: 100px;
  background-color: #f5f5f5;
  }
}
.linea-gris-margenes {
  padding-top: 7px;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .linea-gris-margenes {
    padding-top: 16px;
    padding-left: 10px;
  }
}
.linea-azul {
  height: 250px;
  background-color: rgba(0,0,255,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}
.linea-blanca {
  height: 250px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.linea-blanca-titulo {
  background-color: white;
  padding: 27px;
}
.linea-gris-socialmedia {
  vertical-align: top;
}

/**************************  BOTONERA  ******************************/
.sangria-del-tope{
  padding-top: 20px;
  padding-bottom: 30px;
}
.margen-inferior{
  padding-bottom: 30px;
}
.barra-margen-superior{
  margin-top: 100px;
}
.barra-botonera{
  background-color: rgba(255,255,255,0.8);
  height: 125px;
}
.linea-botonera {
  /* height: 70px;  Esta es la linea original de cristian */
  height: 170px;
  background-color: ;
}
.botonera-margen-arriba {
    padding-top: 20px;
}
.botonera-celda {
  -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
  color: gris;
  text-decoration: none;
  font-size: 20px;
}
.botonera-celda:hover {
  font-weight: bold;
  color: gris;
  text-decoration: none;
  -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
}
.botonera-celda-on {
  font-weight: bold;
  color: gris;
  text-decoration:none;
}
.bg-botonera {
  background-image: url(../gcw_images/bg_top_red.png);
  background-position: right top;
  background-repeat: no-repeat;
  border-right: 1px #999 solid;
}
/**********************************************   INICIO  ********************************************/
.btn-DC {
  color: #fff;
  background-color:#f9643a;
  border-color: #fa9173;
}
.btn-DC:hover,
.btn-DC:focus,
.btn-DC:active,
.btn-DC.active,
.open > .dropdown-toggle.btn-DC {
  color: #fff;
  background-color: #fa9173;
  border-color: #f9643a;
}
.btn-DC:active,
.btn-DC.active,
.open > .dropdown-toggle.btn-DC {
  background-image: none;
}
.btn-DC.disabled,
.btn-DC[disabled],
fieldset[disabled] .btn-DC,
.btn-DC.disabled:hover,
.btn-DC[disabled]:hover,
fieldset[disabled] .btn-DC:hover,
.btn-DC.disabled:focus,
.btn-DC[disabled]:focus,
fieldset[disabled] .btn-DC:focus,
.btn-DC.disabled:active,
.btn-DC[disabled]:active,
fieldset[disabled] .btn-DC:active,
.btn-DC.disabled.active,
.btn-DC[disabled].active,
fieldset[disabled] .btn-DC.active {
  background-color: #428bca;
  border-color: #f9643a;
}
.btn-DC .badge {
  color: #428bca;
  background-color: #fff;
}


.comillas {
  font-size: 72px;
}
#vinetas {
  list-style-image:url(../gcw_images/vineta.png);
}
.suavecito-lista {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.suavecito-lista:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.linea-roja {
  height: 70px;
  background-color: #db2125;
  padding-top: 20px;
  padding-bottom: 10px;
}
.list-group-item-2 {
  position: relative;
  display: block;
  padding: 10px;
  margin-bottom: -1px;
  background-color: transparent; /* Colocar #fff -------------------------------- */
  border: 1px solid transparent; /* Colocar #fff -------------------------------- */
  margin: 2px;
  text-align: left;
  height: 40px;
}
.list-group-item-2:first-child {
  padding-left: 23px;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 10px;
  padding-right: 0px;
  vertical-align: middle;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item-2:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
a.list-group-item-2 {
  color: #fff; /* Colocar #555 -------------------------------- */
  background-image: url(../gcw_images/vineta.png);
  background-position: 6px center; /* Colocar a 0px para desplazar la viñeta un poco a la derecha al momento del hover*/
  background-repeat: no-repeat;
  padding: 10px;
}
a.list-group-item-2 .list-group-item-2-heading {
  color: #333;
}
a.list-group-item-2:hover,
a.list-group-item-2:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(000,000,000,0.5);
  background-image: url(../gcw_images/spacer.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 8px;
  font-style: italic;
}
.list-group-item-2.active,
.list-group-item-2.active:hover,
.list-group-item-2.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #db2125;
  border-color: #db2125;
}
.tope-transparente {
  background-color: #fff;
  background-image: url(../gcw_images/bg_subtitulo.jpg);
  background-position: top;
  background-repeat: repeat-x;
}
.bg-quirofano {
  background-color: #1f1d32;
  background-image: url(../gcw_images/bg_quirofano.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.unidad-de-la-mujer {
  background-image: url(../gcw_images/lady.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.instalaciones-box {
  width: 220px;
  height: 190px;
}
/**********************************************   QUIENES SOMOS  ********************************************/
.danielmargen-arriba {
    padding-top: 30px;
}
.nosotros-margen-arriba {
    padding-top: 50px;
}

.nosotros-font {
  color: black;
}
.nosotros-font:hover {
  color: white;
}
.bg-mosaicos-nosotros {
  background-color: #fff;
}
.bg-mosaicos-nosotros:hover {
  background-color: rgba(241,26,31,1);
}
.img-nosotros {
  height: 200px;
  width: 200px;
}
.nosotros-alinear-titulos {
  text-align: left;
}
@media (max-width: 767px) {
  .nosotros-alinear-titulos {
    text-align: center;
  }
}
/**********************************************   DIRECTORIO: DEPARTAMENTOS Y PERSONAL *********************************/
.departamentos-tamano-img {
  width: 150px;
  height: 150px;
}
@media (max-width: 767px) {
  .departamentos-tamano-img {
    width: 100px;
    height: 100px;
  }
}
.departamentos-font {
  font-weight: normal;
  text-transform: none;
}
.departamentos-font:hover {
  font-weight: none;
  text-transform: none;
  color: red;
}
.departamentos-img-margen-arriba {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .departamentos-img-margen-arriba {
    padding-top: 1px;
  }
}
.personal-tamano-img {
  width: 100px;
  height: 100px;
}
.personal-bg {
  background-color: transparent;
}
.personal-bg:hover {
  background-color: #1f1d32;
  color: white;
}
.personal-bg-general {
  background-color: transparent;
}
.personal-bg-general:hover {
  background-color: #dfdedc;
}
.alinear-volver {
  text-align: right;
}
@media (max-width: 767px) {
  .alinear-volver {
    text-align: left;
  }
}
.departamentos-bg-texto {
  color: #688D95;
  background-color: transparent;
  background-image: url(../gcw_images/vineta.png);
  background-position: 6px center; /* Colocar a 0px para desplazar la viñeta un poco a la derecha al momento del hover*/
  background-repeat: no-repeat;
  padding: 5px;
  padding-left: 20px;
  border: 0px solid transparent;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;}
.departamentos-bg-texto:hover {
  color: #fff;
  background-color:#f9643a ;
  background-image: url(../gcw_images/vineta3.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  padding: 5px;
  padding-left: 30px;
  border: 0px solid transparent;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/*********************************************   SERVICIOS  ********************************************/
.servicios-bg {
  background-color: #fff;
}
.servicios-bg:hover {
  background-color: #1f1d32;
  color: white;
}
.servicios-lista {
  list-style-image:url(../gcw_images/vineta6.png);
}
.servicios-lista:hover {
  list-style-image:url(../gcw_images/vineta7.png);
}
.servicios-img {
  height: 150px;
  width: 150px;
}
@media (max-width: 767px) {
  .servicios-img {
    height: 100px;
    width: 100px;
  }
}
.servicios-altura {
  height: 210px
}
@media (max-width: 767px) {
  .servicios-altura {
    height: 120px
  }
}
.servicios-img-modal {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 120px;
}

/**********************************************   PIE DE PAGINA  ********************************************/
.bg-footer {
  background-image: url(../gcw_images/bg_footer.png);
  background-position: top;
  background-repeat: repeat-x;
  background-color: rgba(242, 242, 242, 1);
}
.pie-borde {
  border-left: 1px rgba(217,217,217,1) solid
}
@media (max-width: 767px) {
  .pie-borde {
border-left: 0px rgba(217,217,217,1) solid
  }
}
.pie-alinear-derecha {
  text-align: right;
}
@media (max-width: 767px) {
  .pie-alinear-derecha {
    text-align: center;
  }
}
.pie-alinear-izquierda {
  text-align: left;
}
@media (max-width: 767px) {
  .pie-alinear-izquierda {
    text-align: center;
  }
}
.pie-de-pagina {
  padding: 30px;
  background-color: #111;
}
.pie-blanco       { color: #777; }
.pie-blanco:hover { color: #FFFFFF; text-decoration: none;}

.pie_copyright       { font-size: 13px; color: #FFFFFF; text-decoration: none; }
.pie_copyright:hover { color: #3f3f3f; text-decoration: none;}
.pie-facebook {
  width: 48px;
  height: 48px;
  background: url(../gcw_images/facebook2.png) no-repeat left;
  display:block;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

.pie-facebook:hover {
  width: 48px;
  height: 48px;
  display:block;
  background: url(../gcw_images/facebook2.png) no-repeat right;
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -o-transition: all 0 ease;
  transition: all 0 ease;
}
.pie-twitter {
  width: 48px;
  height: 48px;
  background: url(../gcw_images/twitter2.png) no-repeat left;
  display:block;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
.pie-twitter:hover {
  width: 48px;
  height: 48px;
  display:block;
  background: url(../gcw_images/twitter2.png) no-repeat right;
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -o-transition: all 0 ease;
  transition: all 0 ease;
}
